
<div class="container" style="padding-top: 20px;">

<%= render 'layouts/postmodal' %>

        <div class="row">
            <div class="col-md-3">
                <p class="lead">Management</p>
                <div class="list-group">
                    <a href="" class="list-group-item" data-toggle="modal" data-target="#myModalCreateItem">Post item</a>
                    <a href="" class="list-group-item groupSwitch" tagName="allItemAndHashcodeInCaseOfSameGroupName">All items</a>
                    <a href="" class="list-group-item groupSwitch" tagName="userItemAndHashCodeInCaseOfSameGroupName">Your posts</a>
                    <a href="" class="list-group-item groupSwitch" tagName="likedItemAndHashCodeInCaseOfSameGroupName">Liked items</a>
                </div>
                <hr>
                <p class="lead">Joined Groups</p>
                <div class="list-group">
                    <% if joined_groups.length != 0 %>
                        <% joined_groups.each do |g| %>
                            <a href="" class="list-group-item groupSwitch" tagName="<%= g.name %>"><%= g.name %></a>
                        <% end %>
                    <% else %>
                        <p>No groups so far</p>
                    <% end %>
                </div>
                <hr>
                <p class="lead">Managing Groups</p>
                <div class="list-group">
                    <% if managed_groups.length != 0 %>
                        <% managed_groups.each do |g| %>
                            <a href="" class="list-group-item groupSwitch" tagName="<%= g.name %>"><%= g.name %></a>
                        <% end %>
                    <% else %>
                        <p>No groups so far</p>
                    <% end %>
                </div>
                <hr>
            </div>

            <div class="col-md-9 groupPage" style="display: ;"  tagName="allItemAndHashcodeInCaseOfSameGroupName">
                <h1 style="text-align: center; margin-top: 0;">All items</h1>
                <hr>
                <% current_user.items.reverse_each do |i| %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail" title="<%= i.title %>">
                          <div style="height:150px">
                            <%= image_tag attachment_url(i, :post_image, :fill, 320, 150, format: "jpg") %>
                          </div>
                            <div class="caption">
                                <h4 class="pull-right">$<%= i.price %> /day</h4>
                                <h4 class="userPageItemTitle"><a href="/item/<%= i.id %>"><%= i.title %></a>
                                </h4>
                                <p class="descriptionContent"><%= i.description %></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right"><%= i.request_id_list.length %> people on waiting list</p>
                                <p>
                                <% if is_liked(i.id) %>
                                  <div class="unlikeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% else %>
                                  <div class="unlikeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% end %>
                                </p>
                            </div>
                            <% if owner_should_check?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-warning"><span class="glyphicon glyphicon-usd"></span> Someone's interested!</a>
                            <% elsif owner_check_rent_out?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-info"><span class="glyphicon glyphicon-user"></span> Tenant: <%= tenant_name(i) %></a>
                            <% elsif is_owner?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-success"><span class="glyphicon glyphicon-info-sign"></span> Your post (No response yet)</a>
                            <% elsif is_tenant?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-wrench"></span> In your hand</a>
                            <% elsif tenant_not_on_list?(i) %>
                              <%= link_to subscribe_path(:item_id => i.id), controller: 'items', action: 'subscribe', method: :put do %>
                              <span href="" class="btn btn-block btn-success"><span class="glyphicon glyphicon-ok"></span> Join waiting list?</span>
                              <% end %>
                            <% elsif already_on_list?(i) %>
                              <%= link_to unsubscribe_path(:item_id => i.id), controller: 'items', action: 'unsubscribe', method: :put do %>
                              <span href="" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-minus"></span> Leave waiting list?</span>
                              <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>

            <% all_groups.each do |g| %>
            <div class="col-md-9 groupPage" style="display: none;" tagName="<%= g.name %>">
                <h1 style="text-align: center; margin-top: 0;"><%= g.name %>
                  <%= link_to group_path(:group_id => g.id), controller: 'groups', action: 'show', method: :get do %>
                    <span class="glyphicon glyphicon-cog toolBtn" title = "Manage Group"> </span>
                  <% end %>
                </h1>
                <hr>
                <% g.items.reverse_each do |i| %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail" title="<%= i.title %>">
                            <div style="height:150px">
                            <%= image_tag attachment_url(i, :post_image, :fill, 320, 150, format: "jpg") %>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">$<%= i.price %> /day</h4>
                                <h4 class="userPageItemTitle"><a href="/item/<%= i.id %>"><%= i.title %></a>
                                </h4>
                                <p class="descriptionContent"><%= i.description %></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right"><%= i.request_id_list.length %> people on waiting list</p>
                                <p>
                                <% if is_liked(i.id) %>
                                  <div class="unlikeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% else %>
                                  <div class="unlikeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% end %>
                                </p>
                            </div>
                              <% if owner_should_check?(i) %>
                                <a href="/item/<%= i.id %>" class="btn btn-block btn-warning"><span class="glyphicon glyphicon-usd"></span> Someone's interested!</a>
                              <% elsif owner_check_rent_out?(i) %>
                                <a href="/item/<%= i.id %>" class="btn btn-block btn-info"><span class="glyphicon glyphicon-user"></span> Tenant: <%= tenant_name(i) %></a>
                              <% elsif is_owner?(i) %>
                                <a href="/item/<%= i.id %>" class="btn btn-block btn-success"><span class="glyphicon glyphicon-info-sign"></span> Your post (No response yet)</a>
                              <% elsif is_tenant?(i) %>
                                <a href="/item/<%= i.id %>" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-wrench"></span> In your hand</a>
                              <% elsif tenant_not_on_list?(i) %>
                                <%= link_to subscribe_path(:item_id => i.id), controller: 'items', action: 'subscribe', method: :put do %>
                                <span href="" class="btn btn-block btn-success"><span class="glyphicon glyphicon-ok"></span> Join waiting list?</span>
                                <% end %>
                              <% elsif already_on_list?(i) %>
                                <%= link_to unsubscribe_path(:item_id => i.id), controller: 'items', action: 'unsubscribe', method: :put do %>
                                <span href="" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-minus"></span> Leave waiting list?</span>
                                <% end %>
                              <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
            <% end %>

            <div class="col-md-9 groupPage" style="display: none;"  tagName="userItemAndHashCodeInCaseOfSameGroupName">
                <h1 style="text-align: center; margin-top: 0;">Your posts</h1>
                <hr>
                <% current_user.items.reverse_each do |i| %>
                  <% if current_user.id == i.owner_id %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail" title="<%= i.title %>">
                            <div style="height:150px">
                            <%= image_tag attachment_url(i, :post_image, :fill, 320, 150, format: "jpg") %>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">$<%= i.price %> /day</h4>
                                <h4 class="userPageItemTitle"><a href="/item/<%= i.id %>"><%= i.title %></a>
                                </h4>
                                <p class="descriptionContent"><%= i.description %></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right"><%= i.request_id_list.length %> people on waiting list</p>
                                <p>
                                <% if is_liked(i.id) %>
                                  <div class="unlikeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% else %>
                                  <div class="unlikeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% end %>
                                </p>
                            </div>
                            <% if owner_should_check?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-warning"><span class="glyphicon glyphicon-usd"></span> Someone's interested!</a>
                            <% elsif owner_check_rent_out?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-info"><span class="glyphicon glyphicon-user"></span> Tenant: <%= tenant_name(i) %></a>
                            <% elsif is_owner?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-success"><span class="glyphicon glyphicon-info-sign"></span> Your post (No response yet)</a>
                            <% elsif is_tenant?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-wrench"></span> In your hand</a>
                            <% elsif tenant_not_on_list?(i) %>
                              <%= link_to subscribe_path(:item_id => i.id), controller: 'items', action: 'subscribe', method: :put do %>
                              <span href="" class="btn btn-block btn-success"><span class="glyphicon glyphicon-ok"></span> Join waiting list?</span>
                              <% end %>
                            <% elsif already_on_list?(i) %>
                              <%= link_to unsubscribe_path(:item_id => i.id), controller: 'items', action: 'unsubscribe', method: :put do %>
                              <span href="" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-minus"></span> Leave waiting list?</span>
                              <% end %>
                            <% end %>
                        </div>
                    </div>
                  <% end %>
                <% end %>
            </div>

            <div class="col-md-9 groupPage" style="display: none;"  tagName="likedItemAndHashCodeInCaseOfSameGroupName">
                <h1 style="text-align: center; margin-top: 0;">Liked items</h1>
                <hr>
                <% current_user.items.reverse_each do |i| %>
                  <% if is_liked(i.id) %>
                    <div class="col-sm-4 col-lg-4 col-md-4 likedItem" style="display: ;" itemId="<%= i.id %>">
                  <% else %>
                    <div class="col-sm-4 col-lg-4 col-md-4 unlikedItem" style="display: none;" itemId="<%= i.id %>">
                  <% end %>
                        <div class="thumbnail" title="<%= i.title %>">
                            <div style="height:150px">
                            <%= image_tag attachment_url(i, :post_image, :fill, 320, 150, format: "jpg") %>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">$<%= i.price %> /day</h4>
                                <h4 class="userPageItemTitle"><a href="/item/<%= i.id %>"><%= i.title %></a>
                                </h4>
                                <p class="descriptionContent"><%= i.description %></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right"><%= i.request_id_list.length %> people on waiting list</p>
                                <p>
                                <% if is_liked(i.id) %>
                                  <div class="unlikeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% else %>
                                  <div class="unlikeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% end %>
                                </p>
                            </div>
                            <% if owner_should_check?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-warning"><span class="glyphicon glyphicon-usd"></span> Someone's interested!</a>
                            <% elsif owner_check_rent_out?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-info"><span class="glyphicon glyphicon-user"></span> Tenant: <%= tenant_name(i) %></a>
                            <% elsif is_owner?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-success"><span class="glyphicon glyphicon-info-sign"></span> Your post (No response yet)</a>
                            <% elsif is_tenant?(i) %>
                              <a href="/item/<%= i.id %>" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-wrench"></span> In your hand</a>
                            <% elsif tenant_not_on_list?(i) %>
                              <%= link_to subscribe_path(:item_id => i.id), controller: 'items', action: 'subscribe', method: :put do %>
                              <span href="" class="btn btn-block btn-success"><span class="glyphicon glyphicon-ok"></span> Join waiting list?</span>
                              <% end %>
                            <% elsif already_on_list?(i) %>
                              <%= link_to unsubscribe_path(:item_id => i.id), controller: 'items', action: 'unsubscribe', method: :put do %>
                              <span href="" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-minus"></span> Leave waiting list?</span>
                              <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>

            <script type="text/javascript">
                $(".groupSwitch").on('click', toggleGroupPage)
                function toggleGroupPage(e){
                    e.preventDefault()
                    hideAll()
                    var tagName = $(this).attr("tagName")
                    console.log(tagName)
                    $(`.groupPage[tagName='${tagName}']`).show()
                    console.log(`.groupPage[tagName='${tagName}']`)
                }
                function hideAll(){
                    $(`.groupPage`).hide()
                }
                $(".unlikeBtn").on("click", function(){
                  var item_id = $(this).attr("itemId")
                  $(`.likeBtn[itemId='${item_id}']`).show()
                  $(`.unlikeBtn[itemId='${item_id}']`).hide()
                  $(`.likedItem[itemId='${item_id}']`).hide().removeClass('likedItem').addClass('unlikedItem')
                })
                $(".likeBtn").on("click", function(){
                  var item_id = $(this).attr("itemId")
                  $(`.unlikeBtn[itemId='${item_id}']`).show()
                  $(`.likeBtn[itemId='${item_id}']`).hide()
                  $(`.unlikedItem[itemId='${item_id}']`).show().removeClass('unlikedItem').addClass('likedItem')
                })
            </script>

        </div>

    </div>