
<div class="container" style="padding-top: 20px;">

<%= render 'layouts/postmodal' %>

        <div class="row">

            <div class="col-md-3">
            <a href="#" class="btn btn-block btn-success"><span class="glyphicon glyphicon-ok"></span> Available!</a>
            <a href="#" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-wrench"></span> In your hand</a>
            <a href="#" class="btn btn-block btn-warning"><span class="glyphicon glyphicon-user"></span> Join waiting list?</a>
            <a href="#" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-minus"></span> Leave waiting list?</a>
            <a href="#" class="btn btn-block btn-warning"><span class="glyphicon glyphicon-usd"></span> Someone's interested!</a>
                <p class="lead">Management</p>
                <div class="list-group">
                    <a href="" class="list-group-item" data-toggle="modal" data-target="#myModalCreateItem">Post item</a>
                    <a href="" class="list-group-item groupSwitch" tagName="allItemAndHashcodeInCaseOfSameGroupName">All items</a>
                    <a href="" class="list-group-item">Rental list</a>
                </div>
                <hr>
                <p class="lead">Joined Groups</p>
                <div class="list-group">
                    <% if joined_groups.length != 0 %>
                        <% joined_groups.each do |g| %>
                            <a href="" class="list-group-item groupSwitch" tagName="<%= g.name %>"><%= g.name %></a>
                        <% end %>
                    <% else %>
                        <p>No groups so far</p>
                    <% end %>
                </div>
                <hr>
                <p class="lead">Managing Groups</p>
                <div class="list-group">
                    <% if managed_groups.length != 0 %>
                        <% managed_groups.each do |g| %>
                            <a href="" class="list-group-item groupSwitch" tagName="<%= g.name %>"><%= g.name %></a>
                        <% end %>
                    <% else %>
                        <p>No groups so far</p>
                    <% end %>
                </div>
                <hr>
            </div>

            <% all_groups.each do |g| %>
            <div class="col-md-9 groupPage" style="display: none;" tagName="<%= g.name %>">
                <h1 style="text-align: center; margin-top: 0;"><%= g.name %>
                <%= link_to group_path(:group_id => g.id), controller: 'groups', action: 'show', method: :get do %>
                  <span class="glyphicon glyphicon-cog toolBtn" title = "Manage Group"> </span>
                <% end %>
                </h1>
                <hr>
                <% g.items.reverse_each do |i| %>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <%= image_tag attachment_url(i, :post_image, :fill, 320, 150, format: "jpg") %>
                            <div class="caption">
                                <h4 class="pull-right">$<%= i.price %> /day</h4>
                                <h4><a href="/item/<%= i.id %>"><%= i.title %></a>
                                </h4>
                                <p class="descriptionContent"><%= i.description %></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                <% if is_liked(i.id) %>
                                  <div class="unlikeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% else %>
                                  <div class="unlikeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% end %>
                                </p>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <% end %>

            <div class="col-md-9 groupPage" style="display: ;"  tagName="allItemAndHashcodeInCaseOfSameGroupName">
                <h1 style="text-align: center; margin-top: 0;">All items</h1>
                <hr>
                <% current_user.items.reverse_each do |i| %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <%= image_tag attachment_url(i, :post_image, :fill, 320, 150, format: "jpg") %>
                            <div class="caption">
                                <h4 class="pull-right">$<%= i.price %> /day</h4>
                                <h4><a href="/item/<%= i.id %>"><%= i.title %></a>
                                </h4>
                                <p class="descriptionContent"><%= i.description %></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                <% if is_liked(i.id) %>
                                  <div class="unlikeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% else %>
                                  <div class="unlikeBtn" style="display: none;" itemId="<%= i.id %>">
                                    <%= link_to unlike_path(:item_id => i.id), controller: 'items', action: 'unlike', method: :put do %>
                                        <span class="glyphicon glyphicon-heart"></span>
                                    <% end %>
                                  </div>
                                  <div class="likeBtn" style="display: ;" itemId="<%= i.id %>">
                                    <%= link_to like_path(:item_id => i.id), controller: 'items', action: 'like', method: :put do %>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    <% end %>
                                  </div>
                                <% end %>
                                </p>
                            </div>
                            <a href="#" class="btn btn-block btn-success"><span class="glyphicon glyphicon-ok"></span> Available!</a>
                        </div>
                    </div>
                <% end %>
            </div>

            <script type="text/javascript">
                $(".groupSwitch").on('click', toggleGroupPage)
                function toggleGroupPage(e){
                    e.preventDefault()
                    hideAll()
                    var tagName = $(this).attr("tagName")
                    console.log(tagName)
                    $(`.groupPage[tagName='${tagName}']`).show()
                    console.log(`.groupPage[tagName='${tagName}']`)
                }
                function hideAll(){
                    $(`.groupPage`).hide()
                }
                $(".unlikeBtn").on("click", function(){
                  var item_id = $(this).attr("itemId")
                  $(`.likeBtn[itemId='${item_id}']`).show()
                  $(`.unlikeBtn[itemId='${item_id}']`).hide()
                })
                $(".likeBtn").on("click", function(){
                  var item_id = $(this).attr("itemId")
                  $(`.unlikeBtn[itemId='${item_id}']`).show()
                  $(`.likeBtn[itemId='${item_id}']`).hide()
                })
            </script>

            <!-- <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$24.99</h4>
                                <h4><a href="#">First Product</a>
                                </h4>
                                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$64.99</h4>
                                <h4><a href="#">Second Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$74.99</h4>
                                <h4><a href="#">Third Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$84.99</h4>
                                <h4><a href="#">Fourth Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$94.99</h4>
                                <h4><a href="#">Fifth Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <h4><a href="#">Like this template?</a>
                        </h4>
                        <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                        <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
                    </div>

                </div>

            </div> -->

        </div>

    </div>