<div class="container avoidNav">
<div class="row">
	<div class="col-sm-5 col-lg-5 col-md-5 thumbnail">
		<%= image_tag attachment_url(@item, :post_image, :fit, 600, 600, format: "jpg", fallback: "Failed to load image") %>
		<h2>Owner Info: </h2>
		<h3>
			Phone: <%= item_owner(@item.owner_id).phone %><br>
			Email: <%= item_owner(@item.owner_id).email %>
		</h3>
	</div>
	<div class="col-sm-4 col-lg-4 col-md-4" style="padding: 0 20px 0 20px">
		<div class="thumbnail">
			<h1 style="margin: 0;"><%= @item.title %></h1>
			<p>(Owner: <%= item_owner(@item.owner_id).user_name %>)</p>
			<h3>Price: $<%= @item.price %> /day</h3>
			<h3 style="display: inline;">Description: </h3><h5 style="display: inline; word-wrap: break-word;"><%= @item.description %></h5>
			<h3>Item History: </h3><h5 style="display: inline; word-wrap: break-word;"><%= simple_format(@item.history_log) %></h5>
		</div>
	</div>
	<div class="col-sm-3 col-lg-3 col-md-3">
		<div class="thumbnail waitingList">
			<h1 style="margin-top: 0; text-align: center;">Waiting List:</h1>
			<% if @item.request_id_list.length == 0 %>
				<p style="text-align: center;">No one's on the list.</p>
			<% else %>
				<% all_users_on_waiting_list(@item.id).each do |u| %>
				<div class="row">
					<div class="col-xs-8">
						<h3 style="margin: 0 0 0 10px;"><%= u.user_name %></h3>
					</div>
					<div class="col-xs-4">
					<% if is_owner?(@item) %>
						<% if owner_check_rent_out?(@item) && @item.tenant_id == u.id %>
							<%= link_to confirm_return_path(:tenant_id => u.id, :item_id => @item.id), controller: 'item', action: 'confirm_return', method: :put, data: {confirm: "Please make sure the tenant has returned the item before proceeding"} do %>
							  <span class="glyphicon glyphicon-ok-sign toolBtn pull-right" title = "Confirm return"> </span>
							<% end %>
						<% elsif owner_should_check?(@item) %>
							  <a href="" data-toggle="modal" data-target="#myModalConfirmRental"><span class="glyphicon glyphicon-ok-circle toolBtn pull-right" title = "Confirm rental"> </span></a>
							  <%= render 'confirmRentalModal', {item: @item, tenant: u} %>
							<%= link_to force_unsubscribe_path(:tenant_id => u.id, :item_id => @item.id), controller: 'item', action: 'force_unsubscribe', method: :put, data: {confirm: "Remove this user from waiting list? (Don't worry, we won't tell him)"} do %>
							  <span class="glyphicon glyphicon-trash toolBtn pull-right" title = "Remove from list"> </span>
							<% end %>
						<% end %>
					<% end %>
					</div>
					<% if is_owner?(@item) %>
					<div class="col-xs-12">
						<p style="margin: 0 0 0 10px;">phone: <%= u.phone %></p>
					</div>
					<% end %>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
</div>