<!-- Modal for post item -->
      <div class="modal fade" id="myModalCreateItem" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
          <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Create Post
                </h4>
            </div>

            <!-- Modal Body left -->
            <div class="row">
            <div class="modal-body col-md-6" style="padding: 30px;">
                <%= form_with scope: :item, url: create_item_path, method: "post" do |f| %>
                <div>
                  <%= f.text_field :title, placeholder: "Title", :required => true, :minlength => 3, :maxlength => 30, :autofocus => true %>
                </div>
                <div>
                  <%= f.text_area :description, placeholder: "Description of your item", style: "margin-top: 2%;", :required => true %>
                </div>
                <div>
                  <%= f.text_field :price, placeholder: "type in price", style: "margin-top: 1%;", :required => true %>
                </div>
                <div style="margin-top: 2%;">
                <%= f.select :group_target, options_for_select(all_groups.collect{ |g| [g.name, g.id] }), :required => true %>
                </div>
            </div>
            <div class="modal-body col-md-6" style="padding: 30px;">
              <h1>Upload image here</h1>
            </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <div style="float: left;">
                <%= f.submit "Post", :class => "btn btn-default" %>
                <%end%>
                </div>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
            </div>
          </div>
        </div>
      </div>